/* This is the css for genre.html */

.cf::after {
 content: "";
 display: block;
 clear: both;
}

body {
 background-image: url("../images/turquoise-waves.jpg");
 background-repeat:no-repeat;
 background-size: 100% 400px;
 background-position: 0px -30px;
}

#flashmatchlogo {
 width: 140px;
 height: 140px;
 float: left;
 cursor: pointer;
}

#header-text {
 width: 60%;
 text-align: center;
 margin: 0 auto;
}

#profile-button {
 float: right;
 margin-top: 30px;
 width: 150px;
 height: 70px;
 background: #2AE2EE;
 box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
 border-radius: 45px;
 transition: all 0.8s;
}

#profile-button:hover {
 background: #002db3;
 color: white;
 cursor: pointer;
}

#text-flashmatch {
 width: 100%;
 text-align: center;
 font-size: 80px;
 margin-top: 15px;
}

#text-connections {
   position: relative;
   width: 100%;
   text-align: center;
   font-size: 40px;
   bottom: 70px;
   letter-spacing: 5px;
}

#instructions-text {
 text-align: center;
 background-color: #2AE2EE;
 padding: 20px;
 font-size: 22px;
 border-radius: 10px;
 margin: 0 auto;
 width: 60%;
 margin-top: 11vw;
}

.flashcard-buttons {
 width: 170px;
 height: 250px;
 background: #2AE2EE;
 border: 2px solid #C4C4C4;
 box-sizing: border-box;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 border-radius: 30px;
 margin: 10px;
 text-align: center;
 transition: all 0.8s;
}

.flashcard-buttons:hover {
 background: #002db3;
 color: white;
 cursor: pointer;
}

#six-buttons {
 position: relative;
 top: 40px;
 width: 40%;
 margin: 0 auto;
 margin-top: 10px;
 margin-bottom: 90px;
}

.flashcard-text {
 font-size: 20px;
 position: relative;
 text-align: center;
 top: -20px;
}

.flashcard-line {
 position: relative;
 top: -20px;
}

#cocktail {
 position: relative;
 top: 10px;
}

#music {
 position: relative;
 top: 10px;
}

#food {
 position: relative;
 top: 10px;
}

#sports {
 position: relative;
 top: 10px;
}

#world {
 position: relative;
 top: 10px;
}

#tech {
 position: relative;
 top: 10px;
}

.nav_links{
   margin: 0px 20px;
   font-weight: bold;
   text-decoration: none;
   font-size: 1.6vw;
   color: black;
   transition: all 0.8s;
   font-family: 'Raleway';
}

.nav_links:hover{
   color: #01afd1;
   text-decoration: underline;
   cursor: pointer;
}

footer {
   position: relative;
   border-top: solid black;
   text-align: center;
   width: 90vw;
}

footer > p{
   position: relative;
   margin: 20px 20px;
   margin-top: 5px;
   font-size: 30px;
   color: black;
   display: inline-block;
}

#copyright{
 text-decoration: none;
 font-size: 1.6vw;
 font-family: 'Raleway';
 font-weight: bold;
}
